.container-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100vh);
    background-color: rgb(255, 255, 255);

}

.titulo_cadastro {
    font-size: 40px;
    font-weight: bolder;
}

.container_conteudos_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    gap: 30px;
}


.irPg_Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.container_bnt_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputs-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    gap: 10px;
}


.label-emailCad,
.label-senhaCad,
.label-coSenhaCad {
    font-size: 20px;
    align-self: self-start;
    padding-left: 5%;
}



.input-email,
.input-senha,
.input-coSenha {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-bottom: 2px solid #242424;
    padding-left: 2%;
    margin-bottom: 10px;
    height: 35px;
    width: 100%;
    font-size: 18px;
    transition: 0.4s;
}

.botao-cadastro {
    border: none;
    border-radius: 3px;
    background-color: #20c997;

    color: rgb(255, 255, 255);
    height: 35px;
    width: 200px;
    font-weight: bold;
    font-size: 25px;
    height: 45px;
    width: 220px;
    transition: 0.4s;
}

.botao-cadastro:hover {
    background-color: aliceblue;
    color: black;
    border: 1px solid #20c997;
    transition: 0.4s;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #20c997;
    transition: 0.4s;
}

.inputs-tipo-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cliente,
.prestador-servico {
    margin-right: 8px;
}

