.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh);
    color: #000000;
    gap: 50px;
    background-color: rgb(255, 255, 255);
}

.container_conteudos_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
    gap: 30px;
}


.titulo_login {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}


.label-emailLo,
.label-senhaLo {
    align-self: self-start;
    padding-left: 5%;
    font-size: 20px;
}

.inputs-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: 350px;
}

.input-emailLo {
    margin-bottom: 50px;
}

.input-emailLo,
.input-senhaLo {
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-bottom: 2px solid #242424;
    padding-left: 2%;
    height: 35px;
    font-size: 18px;
    color: #000000;
    transition: 0.4s;
    width: 100%;
}

.irPg_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container_bnt_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-login {
    border: none;
    border-radius: 3px;
    background-color: #20c997;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    height: 45px;
    width: 220px;
    transition: 0.4s;
    cursor: pointer;
}

.botao-login:hover {
    background-color: aliceblue;
    color: black;
    border: 1px solid #20c997;
    transition: 0.4s;
}
