.container-controle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

#controlinho{
    font-weight: 800;
}

.controlinho-inputs{
    display: flex;
    flex-direction: column;
    padding: 15px
}

input{
    width: 20vh;
    height: 4vh;
    background-color: #2E2E2E;
    color: #FEFEFE;
}

#credito{
    background-color: greenyellow;
    border: none;
    border-radius: 3px;
}

#debito{
    background-color: crimson;
    border: none;
    border-radius: 3px;
}