.container-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empresas-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logotipo{
    width: 15vh;
    height: 15vh;
    padding: 10px;
}

#mais{
    color: #2e2e2e;
    font-size: xx-large;
}