.container-promo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-5);
}

.promocao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--cor-3);
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-promo-img{
    padding-right: 10vh;
}