.links{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* border: 2px solid black; */
  border-radius: 40px;
  width: 30%;
  height: 40px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  background-color: rgb(221, 149, 16);
  font-size: 28px;
}

.links:hover{
  scale: 1.1;
}

a:visited{
  color: black;
}

a:active{
  color: brown;
}

.container-app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: hsla(0, 100%, 55%, 1);

  background: radial-gradient(circle, hsla(0, 100%, 55%, 1) 0%, hsla(0, 0%, 5%, 1) 100%);
  
  background: -moz-radial-gradient(circle, hsla(0, 100%, 55%, 1) 0%, hsla(0, 0%, 5%, 1) 100%);
  
  background: -webkit-radial-gradient(circle, hsla(0, 100%, 55%, 1) 0%, hsla(0, 0%, 5%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1818", endColorstr="#0c0c0c", GradientType=1 );
}