.bnt_login {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bnt_login:hover {
    background-color:  white;
    color: #000000;
    border: 1px solid #ffffff;
    transition: 0.4s;

}