.bnt_logout {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    color: aliceblue;
    background-color: #b41919;
    color: rgb(255, 255, 255);
    height: 35px;
    font-weight: bold;
    width: 100px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.4s;
}

.bnt_logout:hover {
    background-color: rgb(255, 255, 255);
    color: #b41919;
    border: 1px solid #b41919;
    transition: 0.4s;
}
