.container_navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #20c997;
    height: 60px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 1850px;
    padding: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f0f0f0;
}

.opcoes_perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}


.opcoes_perfil .link-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.opcoes_perfil .link-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.inconePerfil {
    width: 4vh;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.container_perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        gap: 200px;
        padding: 10px 20px;
    }

    .container_navbar {
        height: auto;
        padding: 10px 0;
    }

    .opcoes_perfil {
        gap: 10px;
    }
}